.App{
  padding-top: 80px;
  /* height: 100vh; */
  background-image: linear-gradient(120deg,green,yellow);
  /* background-color: blueviolet; */
}

.search_form{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_bar{
  /* margin-top: 100px; */
  width: 50%;
  border: none;
  padding: 10px;
}

.search_button{
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border: none;
}

.search_button:hover{
  background-color: rgb(86, 107, 226);
  cursor: pointer;
}

.recipes{
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heading{
  
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  margin-bottom: 35px;
}